/*@import url('https://fonts.googleapis.com/css?family=Inconsolata');*/
@import url("https://fonts.googleapis.com/css?family=Lato");
/*@import url("https://fonts.googleapis.com/css?family=Raleway");*/

* {
    margin:0;
    padding:0;
	box-sizing: border-box;
}

:root {
	--main-bg-color : #223344;
}

body {
	//font-family: myFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	/*font-family:Consolas,'Inconsolata', Arial, sans-serif;*/
	
	/* githubs font family */	
	
	
	font-family: "Lato",
				-apple-system, 
				BlinkMacSystemFont, 
				Roboto, 
				"Helvetica Neue",
				Helvetica,
				Arial,
				sans-serif;
	
				
			
	
	color: #eeeeee;
	font-size: 1rem;
	background-color: #223344;
	margin: auto;
	max-width: 60rem; //960px;
	overflow-y:scroll;
}

.content{
	min-height: calc(100vh - 8.5rem);
}

footer{
	margin: 6rem 0 1rem 0;
	text-align: center;
	color:rgba(255,255,255,0.5);
}

p{
	line-height: 130%;
	margin: 0.5rem 0;
}

ul{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 2rem;
}

.nest{
	margin:0;
}

.mfont{
	font-size:1.2rem;
}

.linkm{
	margin: 2rem 0;
}

.linki {
	margin: 0 0 0 1rem;
	filter: opacity(0.5);
	font-size:2rem;
}
.ic {
	vertical-align: text-bottom;
}

h1,h2,h3,h4{
	text-shadow: 0px .1em .2em #000;
	font-weight: normal;
	margin-left: 0;
	margin-right: 0;
}

h1{
	font-size: 3rem;
	margin-top:2rem;
	margin-bottom: 1rem;
}
h2{
	font-size: 2rem;
	margin-top:2rem;
	margin-bottom: .5rem;
}
h3 {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

a.link {
	font-size: 2rem;
}
a.link:link{
	color: #00EEEE;
}
a.link:visited{
	color: #00EEEE;
}
a.link:hover{
	color: #FFFFBB;
}
a.link:active{
	color: white;
}

#nav{
	//-webkit-box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
	font-size: 1.35rem;
	padding: 0;
	margin: 0;
}
#nav li {
    float: left;
}
#nav li a {
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 1rem 1.2rem;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
#nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
	box-shadow: inset 0 0 10px #000000;
    background-color: #5c0da5;
}

.card{
	//-webkit-box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	//-webkit-transition: 0.2s;
    transition: opacity 0.2s;
	width:100%;	
	color: #eeeeee;
	position:relative;	
	background-color: #333333
}

/* pre render the shadow then just transition the opacity */
.card::after{
	content:"";
	position:absolute;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	//-webkit-box-shadow: 0 8px 16px 5px rgba(0,0,0,0.7);
	box-shadow: 0 8px 16px 5px rgba(0,0,0,0.7);
	opacity:0;
	//-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.card:hover::after{
	opacity:1;
}

.banner,
.card img,
.card video {
	width:100%;
}
.card h3 {
	margin-top:.5rem;
}

.rightFloat{
	float: right;
}
.rightFloat img{
	display: block;
	margin: .5rem 0 .5rem 1rem;
}

#gameContainer{
	width: 100%;
	height: 600px;
	position:relative;
	background-color:rgba(0,0,0,0.5);
}

#gameContainer button{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	
	border:none;
	background-color:#4CAF50;
	//text-decoration:none;
	text-align:center;
	padding: 1rem 2rem;
}

/* this is like a subclass of link or something, its diff from .card a:link */
a.card:link{
	text-decoration: none;
}
a.card:visited{
	color: #eeeeee;
	text-decoration: none;
}
a.card:hover{
	//color:#ffffbb;
	color:#ffffff;
	text-decoration: none;
}
a.card:active {
    text-decoration: none;
}

.card-inner {
    margin: 0rem .6rem 0rem .6rem;
}

.image-text{
	vertical-align: top;
	display: block;
	text-align: center;
	float: right;
	padding: .5rem;
	margin: 5rem;
	background-color: #333;
	box-shadow: 
	0 0 0 5px hsl(0, 0%, 40%),
    0 0 0 10px hsl(0, 0%, 60%),
    0 0 0 15px hsl(0, 0%, 80%),
    0 0 0 20px hsl(0, 0%, 90%);

}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1.5rem;
}

.sneaky{
	font-size:.5rem; 
	color:rgba(255,255,255,0.05);
}

@media only screen and (max-width: 700px){
	.grid {
		grid-template-columns: 1fr 1fr;
	}
	.rightFloat{
		float:none;
	}
}
@media only screen and (max-width: 400px){
	.grid {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 62rem){
	.content {
		margin: 0 1rem;
	}
	#nav{
		margin: 0 -1rem;
	}
	.image-text img{
		width: 200px;
		height: 200px;
	}
}
