html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

p{
    position:absolute;
    color:white;
    margin:1rem;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    white-space: pre;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}