/* html {
  font-size: 100%;
} */
/* @media (max-width: 800px){
	html {
		font-size: 80%;
    }
} */

body, button, .inputBox, select {
  padding: 0;
  color: #fff;
  font-family: Monospace;
  background-color: #333;
  margin:0;
}

button {
  padding: 0.125rem 0.5rem;
  margin: 0.5rem 0;
  background-color: #448947;
  border-style: solid;
  border-width: thin;
  border-color:#000;
  display:block;
  width:100%;
}

.row {
  display: flex;
  margin: 0.5rem 0;
}

.row button {
  margin:0;
}

.column {
  flex: 50%;
}

button:hover{
  background-color: var(--accent-color);
}

:root {
	--accent-color : #4CAF50;
}

h3 {
  margin: 0.25rem 0;
  text-align: center;
  background-color: #555;
}


/* https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
#sidenav {
  height: 100%;
  width: 10rem;
  overflow-y: auto; 
}
.app {
  display: flex;
  height: 100vh;   /* This is crucial */
  overflow:hidden;
}
#main {
  flex: 1;         /* take remaining space */
  display: flex;
  flex-direction: column;
  padding: 0 0;
}
#canvas-container {
  flex: 1;         /* fill vertical space */
  position: relative;
}

.padded {
  padding: 0.313rem;
}

.mydis{
  pointer-events: none;
  opacity: 0.4;
}

.hidden {
  display:none;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 0.125rem 0 0.25rem 0;
  width: 100%;
  height: 1rem;
  /* background: #d3d3d3; */
  outline: none;
  border-style: solid;
  border-width:thin;
  border-color:#000;
  opacity: 0.7;
  /* -webkit-transition: .2s; */
  /* transition: opacity .2s; */
}

.slider:hover{
  opacity: 1;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--accent-color);
  cursor: pointer;
  border-style: solid;
  border-width:thin;
  border-color:#000;
}

p {
  padding: 0.688rem 0.688rem;
  margin: 0;
}

.fr {
  float: right;
}
.inputBox {
  padding:0.125rem 0.25rem;
  float: right;
  width:65%;
  color:yellow;
  background-color: #000;
  border-style: none;
}
.inputBox:hover{
  background-color: #440;
}

select{
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.container {
  display: block;
  position: relative;
  padding-left: 1.625rem;
  margin: 0.5rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 0.875rem;
  width: 0.875rem;
  background-color: #fff;
  opacity: 0.7;
  border-style: solid;
  border-width: thin;
  border-color:#000;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  /* background-color: #eee; */
  opacity: 1.0;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--accent-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.313rem;
  top: 0.063rem;
  width: 0.188rem;
  height: 0.438rem;
  border: solid black;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

#pathInfoText, #genInfoText {
  color:yellow;
  min-height: 2rem;
}